.each-food {
  width: 397px;
  text-align: center;
  padding: 20px;
  height: 380px;
}
.each-food img {
  width: 60%;
}

.cart-button {
  background-color: crimson;
  border: none;
  font-size: 20px;
  color: white;
  padding: 5px 10px;
  margin-left: 100px;
  cursor: pointer;
  display: none;
}

.each-food:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transition: box-shadow 0.2s ease;
}
.each-food:hover .cart-button {
  display: inline-flex;
}
