.food-navbar {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-top: 50px;
}
.food-navbar a {
  text-decoration: none;
  margin: 10px 30px;
  font-size: 28px;
  color: black;
}

/* This foods style is for every section includes breakfast,dinner,lunch */
.foods {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  margin-top: 100px;
}
