/* style for each section */
.section-container {
  width: 90%;
  margin: 0 auto;
}

/* style for colorful button includes sign up and search */
.special-button {
  background-color: crimson;
  padding: 10px 35px;
  border-radius: 40px;
  color: white;
}
