/* style for ful navbar section */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  color: #ffff;
}

/* style for logo */
.logo {
  width: 160px;
}

/* style for login,signup cart link */
.route-sec a {
  text-decoration: none;
  font-size: 19px;
}
.route-sec a:not(:last-child) {
  text-decoration: none;
  margin-right: 30px;
  color: black;
}
